.post-bg {
  background-color: var(--mainBgDark);
  min-height: 100vh;
  color: var(--fontColor);
}

.post-bg-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.post-bg-content {
  width: 100%;
  max-width: 1000px;
}

.post-bg-content .p {
  font-size: var(----regularFontSize);
}

.post-bg-content .h3 {
  color: var(--secondaryFontColor);
}

.post-bg-content .commitInfoWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.post-bg-content .buttonBar {
  margin: var(--smallMargin) 0;
  display: flex;
}

.post-bg-content .buttonBar button {
  padding: var(--smallMargin) 0;
  flex: 1;
  border-bottom: var(--smallerBorderWidth) solid var(--fontColor);
  transition: background-color 0.2s;
}

.post-bg-content .buttonBar button:hover {
  background-color: var(--secondColor);
}

.fileTile {
  padding: var(--smallMargin) 0;
  width: 100%;
  padding: var(--smallMargin);
  border-bottom: var(--regularBorderWidth) var(--firstColor) solid;
  margin-bottom: var(--regularMargin);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s;
}

.fileTile:hover {
  background-color: var(--secondColor);
}

.fileTile .fileId {
  color: var(--secondaryFontColor);
}
