:root {
  /* colors */
  --mainBgDark: rgb(98, 98, 98);
  --firstColor: rgba(255, 171, 17, 1);
  --secondColor: rgba(181, 80, 20, 1);
  --navColor: rgba(181, 79, 20, 0.6);
  --shadowColor: rgba(66, 68, 90, 1);

  /* font colors */
  --fontColor: #ffffff;
  --secondaryFontColor: #afafaf;

  /* font size */
  --regularFontSize: 14px;
  --regularHeadingFontSize: 20px;
  --bigHeadingFontSize: 24px;

  /* margins */
  --smallMargin: 0.5rem;
  --regularMargin: 2rem;

  /* z-index */
  --z5: 5;

  /* border width */
  --regularBorderWidth: 3px;
}
