.postTile {
  width: 100%;
  border-bottom: var(--regularBorderWidth) var(--firstColor) solid;
  transition: background-color 0.2s;
  margin-bottom: var(--regularMargin);
}

.postTile:hover {
  background-color: var(--secondColor);
}

.postTile .h2 {
  font-size: var(--regularHeadingFontSize);
  font-weight: 700;
  text-align: center;
}

.postTile .p {
  font-size: var(--regularFontSize);
  text-align: center;
}

@media (min-width: 650px) {
  .postTile {
    width: 60%;
  }

  .postTile:hover {
    background-color: var(--secondColor);
  }
}
