.posts-bg {
  background-color: var(--mainBgDark);
  min-height: 100vh;
  color: var(--fontColor);
}

.posts-bg-content {
  padding: 0 1rem;
  position: relative;
}

.posts-bg .h1 {
  font-size: var(--bigHeadingFontSize);
}

.posts-bg-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
}

@media (min-width: 650px) {
  .posts-bg-content {
    padding: 0 2rem;
    position: relative;
  }

  .posts-bg-wrapper {
    padding: 2rem;
  }
}
